.main {
  display: grid;
  justify-items: center;
  align-content: center;
  row-gap: 3em;
  padding: 1em;
  box-sizing: border-box;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items:flex-end; 
  gap: 2em;
  width: 100%;
  max-width: 500px;
  padding: 0 1em;
  box-sizing: border-box;
}

.input-container .MuiTextField-root {
  background-color: #e6f4ed;
  color: #006633 !important;
  border-radius: 12px;
  width: 100%;
}

.input-container .MuiInputBase-input {
  color: #006633 !important;
  text-align: center; /* centraliza o texto digitado */
  padding: 14px;
}

.input-container .MuiInputLabel-root {
  display: none; /* remove o label animado */
}

.input-container .MuiOutlinedInput-root fieldset {
  border: none; 
}

@media (max-width: 600px) {
  .input-container {
    max-width: 90%;
  }
}

.input-container .MuiInputBase-input::placeholder {
  color: #006633 !important;;
  opacity: 0.7; 
}


.custom-button {
  width: 100% !important;
  border-radius: 12px !important;
  background-color: #006633 !important;
  color: #e6f4ed !important;
  padding: 14px !important;
  font-size: 1rem !important;
  text-transform: none !important;
}